.li-filmCard{
    list-style-type: none;
    padding-bottom: 37px;
    padding-right: 36px;
    overflow: hidden;
}
.filmPreview{
    width: 183px;
    height: 281px;
    padding-right: 20px;
}
.filmCard{
    display: flex;
    flex-direction: row;
    height: 281px;
    width: 451px;

    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15)
}
.cupOfCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.date{
    margin-top: 7px;
    margin-bottom: 9px;
    color: rgba(130, 126, 126, 1);
}
.overview{
    margin-bottom: 4px;
    display: block;
    max-height: 129px;
    padding-right: 20px;
    font-size: 12px;
}
.tags{
    margin-bottom: 7px;
    margin-top: 7px;
}
.infomationFilm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titleOfFilm{
    display: block;
    margin: 0px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}
.genres{
    display: inline-block;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 4px;
    padding: 4px;
    margin: 2px;
    background-color: rgba(250, 250, 250, 1);
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;

}